.search-input.input input{
    margin-bottom: 0;
    background-image: url(../img/admin/list/search-loop.png);
    background-position: left 12px center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-right: 50px;
}
.search-input{
    flex: 1;
    margin-right: 25px;
}

.zayvki__top{
    align-items: flex-start;
}

.search-input{
    position: relative;
}
.search-input button{
    position: absolute;
    right: 0px;
    top: 0;
    background-image: url(../img/admin/list/send.png);
    background-size: 17px;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    width: 50px;
    background-color: transparent;
}

.zayvki__table .rate{
    pointer-events: none;
    height: 20px;
    float: none;
    width: 77px;
    margin: 0 auto;

}
.zayvki__table{
    .rate:not(:checked)>label {
        float: right;
        width: 15px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 18px;
    }
}
.zayvki__table--big{
    min-width: 1350px;
    .zayvki__alert{
        justify-content: flex-start;
    }
    .no-rate{
        font-weight: 500;   
    }
}

.zayvki__table--big td{
    padding: 10px;
}

.zayvki__filter{
    overflow: auto;
    
}

.zayvki__filter::-webkit-scrollbar {
    width: 10px;
    }
    
/* Track */
.zayvki__filter::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.zayvki__filter::-webkit-scrollbar-thumb {
    background: #ed1c24;
}

/* Handle on hover */
.zayvki__filter::-webkit-scrollbar-thumb:hover {
    background: #ed1c24;
}
.new-zayvka__top__col{
    width: calc(100% / 3 - 30px - 77px);
}

.new-zayvka__top__col.new-zayvka__top__col--btn{
    width: 200px;
}
.new-zayvka__top__col.new-zayvka__top__col--btn .input button{
    width: 100%;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    background-image: none;
    font-weight: 500;
    position: initial;
}
.my-tech-file__label--file{
    width: 226px;
}

.new-zayvka__bot{
    .search-input.input{
        max-width: 483px;
        margin-bottom: 10px;
    }
}

.modal-wrap-table{
    border-radius: 10px;
    .modal-name{
        text-align: center;
    }
    .search-input{
        margin-right: 0;
    }
}


@media (max-width: 960px){
    .search-input{
        flex: auto;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 1199px){
    .modal-wrap-table{
        padding:35px 15px;
    }

    .new-zayvka__top__col{
        width: calc(100% / 2 - 30px);
    }
    .new-zayvka__top__col.new-zayvka__top__col--btn{
        width: calc(100% / 2 - 30px);
    }
}
@media(max-width: 767px){
    .new-zayvka__top__col{
        width: calc(100%  - 30px);
    }
    .new-zayvka__top__col.new-zayvka__top__col--btn{
        width: calc(100%  - 30px);
    }
}

.magazin-buy__action a{
    height: 50px;
    width: 200px;
    margin: 0 8px;
    background-color: transparent;
    color: #838383;
}

@media (max-width: 559px){
    .magazin-buy__action a {
        margin-bottom: 10px;
    }
}

.admin-zayvka-opisanie{
    padding: 30px 0;
    border-bottom: 1px solid #c2c2c2;
    display: flex;
}
.admin-zayvka__title{
    font-size: 22px;
    margin-bottom: 20px;
}

.admin-textarea{
    padding: 15px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
    border-radius: 10px;
    width: 100%;
    height: 145px;
    margin-bottom: 15px;
    resize: none;
}

.admin-zayvka-opisanie__left{
    flex: 1;
}
.admin-zayvka-opisanie__right{
    display: flex;
    flex: 0 0 500px;
    padding-left: 30px;
}

.admin-zayvka-opisanie__block a{
    color: #0071BC;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}
.admin-zayvka-opisanie__block span{
    display: block;
    margin-bottom: 10px;
}
.btn.btn-red{
    color: #fff;
    background-color: #e9454f;
    color: #fff;
    font-weight: 500;
    transition: 0.3s all;
    margin-right: 0;
}
.btn.btn-red:hover{
    opacity: 0.9;
}
.admin-zayvka-opisanie__block .btn{
    margin-bottom: 10px;
}
.admin-zayvka-opisanie__block .my-tech-file__ckeck-btns{
    flex-direction: column;
    align-items: flex-start;
}
.admin-zayvka-opisanie__block{
    margin-right: 70px;
}

@media(max-width: 1199px){
    .admin-zayvka-opisanie__right{
        flex: 0 0 430px;
    }
    .admin-zayvka-opisanie__block:last-child{
        margin-right: 0;
    }
}

@media(max-width: 1023px){
    .admin-zayvka-opisanie{
        flex-direction: column-reverse;
    }
    .admin-zayvka-opisanie__right{
        flex: auto;
        padding-left: 0;
        margin-bottom: 25px;
    }
    .admin-zayvka-opisanie__block .my-tech-file__ckeck-btns{
        flex-direction: row;
    }
}

@media(max-width: 559px){
    .admin-zayvka-opisanie__right{
        flex-direction: column;
    }
    .admin-zayvka-opisanie__block{
        margin-right: 0;
        margin-bottom: 25px;
    }
    .admin-zayvka-opisanie__right{
        margin-bottom: 0;
    }
}

.zayvka-d__row__rgiht{
    flex: 1;
}

.zayvka-d__row__left .selectric-wrapper{
    max-width: 280px;
}

.my-tech-file__ckeck-btns.no--link{
    .my-tech-file__ckeck-btn{
        color: #333333;
        text-decoration: none;
    }
}

.admin-zayvka-opisanie{
    .left-search{
       
        flex-basis: 40%;
    }   
    
    .right-search{
        flex: 1;
    }
} 
.admin-zayvka-opisanie .search-input{
    margin-bottom: 20px;
}

@media(max-width: 1024px){
    .admin-zayvka-opisanie.admin-zayvka-opisanie2{
        flex-direction: column;
    }
    .admin-zayvka-opisanie{
        .left-search{
           margin-bottom: 25px;
        }   
    }
}

.adm-list-img{
    width: 21px;
    margin: 0 7px;
}
.adm-list-img.adm-list-img--red{
    width: 15px;
}

.new-filter-setting-btn{
    background-color: transparent;
    cursor: pointer;
}

.new-filter-setting{
    position: fixed;
    top: 0;
    right: -1000px;
    bottom: 0;
    width: 320px;
    background: #f6f6f6;
    box-shadow: 0 4px 10px rgba(0,0,0,.4);
    z-index: 101;
    transition: width .2s ease-out;
    padding: 25px;
    transition: .3s all;
    overflow: auto;
}

.new-filter-setting.active{
    right: 103px;
}
@media(max-width: 1199px){
    .new-filter-setting.active{
        right: 0px;
    }
}
.new-filter-setting::-webkit-scrollbar {
    width: 10px;
    }
    
/* Track */
.new-filter-setting::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.new-filter-setting::-webkit-scrollbar-thumb {
    background: #ed1c24;
}

/* Handle on hover */
.new-filter-setting::-webkit-scrollbar-thumb:hover {
    background: #ed1c24;
}
.cabinet__form__btns{
    flex-wrap: wrap;
}
@media (max-width: 767px){
    .cabinet__form__btns .btn {
        margin-bottom: 15px;
        margin-right: 24px;
        text-align: center;
    }
}


.l-data__wrap .checkbox{
    margin-bottom: 15px;
}

.l-data__wrap .zayvki__table__wrap{
    margin-bottom: 20px;
}
.l-data__wrap .t-color{
    text-align: center;
}

.l-data-item.file{
    width: 100%;
    max-width: 565px;
    display: flex;
    align-items: center;
    .my-tech-file__row{
        margin-bottom: 0;
        margin-top: 15px;
    }
}
a.adm-list-del{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 14px;
        margin-right: 5px;
    }
    
}

.l-cabinet.client-data{
    .l-cabinet__top{
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
}

.l-data__wrap .bonus-podpis__wrap input{
    padding-left: 15px;
}

.zayvki__top.arhiv-list .search-input{
    margin-right: 0;
}


.service-flex{
    display: flex;
    .l-cabinet{
        flex-basis: 480px;
    }
}
.sevice__map{
    flex: 1;
    padding-bottom:37%;
    position:relative;
    overflow:hidden;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 1199px){
    .service-flex{
        flex-direction: column;
    }
    .service-flex .l-cabinet{
        flex-basis: 0;
        margin-bottom: 25px;
    }
    .sevice__map{
        padding-bottom: 60%;
    }
}


.admin-download{
    display: flex;
    flex-wrap: wrap;
    .filter__data{
        width: 260px
    }
}
.admin-download__col-big{
    width: 100%;
    margin-bottom: 15px;
}
.admin-download__col{
    width: 50%;
    padding-right: 15px;
}

.admin-download__name{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333333;
}
.admin-download__item{
    margin-bottom: 25px;
}
.admin-download__item:last-child{
    margin-bottom: 0;
}
.label.label--alert{
    margin-bottom: 10px;
    position: relative;
    padding-left: 22px;
}
.label.label--alert:before{
    content:"";
    position: absolute;
    background-image: url('../img/admin/down/alert.svg');
    width: 16px;
    display: inline-block;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 1px;
    left: 0;
}

.admin-download-wraper{
    display: flex;
    flex-wrap: wrap;
    .btn-red{
        margin-right: 15px;
    }
    .my-tech-file__ckeck-btn{
        height: 48px;
    }
    .my-tech-file__ckeck-btn button:after{
        top: 50%;
    }
    .my-tech-file__ckeck-btn button:before{
        top: 50%;
    }
    .selectric{
        height: 48px;
    }
    .selectric-wrapper{
        max-width: 332px;
        width: 100%;
        margin-right: 15px;
    }
    .input{
        margin-right: 15px;
        width: 100%;
        max-width: 331px;
    }
    .input input{
        height: 48px;
        padding-left: 15px;
        
    }
}

.btn.btn-grey{
    border: 2px solid #999999;
    color: #999999;
    font-weight: 500;
    transition: .3s all;
}
.btn.btn-grey:hover{
    opacity: 0.9;
}

@media(max-width: 1199px){
    .admin-download__col{
        width: 100%;
        padding-right: 0;
    }
    .admin-download__item:last-child{
        margin-bottom: 25px;
    }
}

@media(max-width: 559px){
    .admin-download-wraper .btn-red{
        margin-bottom: 15px;
    }
    .admin-download__name{
        font-size: 20px;
    }
    .btn-bonus{
        width: 100%;
    }
}



.ruletka__row{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.ruletka__minus{
    flex-basis: 63px;
    margin-bottom: 16px;
    button{
        background-color: transparent;
        border: 2px solid #999999;
        border-radius: 10px;
        width: 45px;
        height: 45px;
        font-size: 24px;
        color: #999999;
        cursor: pointer;
    }
}
.ruletka__plus{
    flex-basis: 63px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    button{
        background-color: transparent;
        border: 2px solid #999999;
        border-radius: 10px;
        width: 45px;
        height: 45px;
        font-size: 24px;
        color: #999999;
        cursor: pointer;
    }
}
.ruletka__wraper{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 -10px;
    width: 100%;
    max-width: 1095px;
}

.ruletka__col{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    input{
        padding-left: 15px;
    }
}
.ruletka__wrap{
    margin-top: 20px;
}

.ruletka__col input:disabled{
    background-color: #E6E6E6;
}

@media(max-width: 1023px){
    .ruletka__col{
        width: calc(100% / 2 - 20px);
    }
    .ruletka__row{
        flex-wrap: wrap;
        border-bottom:1px solid #E6E6E6;
        padding: 25px 0;
    }
    .ruletka__plus{
        order: 2;
        flex-basis: 50%;
        padding: 0 5px;
        justify-content: flex-start;
    }
    .ruletka__minus{
        display: flex;
        justify-content: flex-end;
        order: 1;
        flex-basis: 50%;
        padding: 0 5px;
    }
}
@media(max-width: 767px){
    .ruletka__col{
        width: 100%;
        margin: 0;
    }
    .ruletka__wraper{
        margin: 0;
    }
    .ruletka__wrap{
        margin-top: 0;
    }
}


.my-tech-add-admin{
    padding-left: 30px;
    width: 210px;
    button{
        margin-right: 0;
        background-color: transparent;
    }
}

@media(max-width: 1023px){
    .my-tech-add{
        flex-wrap: wrap;
    }
    .my-tech-add-admin{
        padding-left: 0;
        width: 100%;
        .input{
            max-width: 452px;
        }
        margin-bottom: 25px;
    }
}

.admin-zayvka{
    display: flex;
}

.admin-zayvka-view{
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 30px;
    margin-right: 25px;
    flex-basis: 230px;
}
.admin-zayvka__img{
    padding-bottom: 102%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.admin-zayvka__name{
    font-size: 16px;
    text-align: center;
}
.admin-zayvka{
    .my-tech-file__check{
        margin-left: 0;
    }
    .l-cabinet__info li{
        font-size: 16px;
    }
    .my-tech-file__check{
        font-weight: 500;   
    }
    .l-cabinet__info span{
        
        margin-bottom: 10px;
        
    }
    .l-cabinet__info span .l-label{
        font-size: 16px;
        color: #fff;
        display: inline;
        padding: 5px 10px;
        background-color: #39B54A;
        border-radius: 10px;
    }
}

.admin-zayvka__btns{
    margin-top: 15px;
    display: flex;
    .btn{
        margin-right: 25px;
        height: 45px;
    }
    .btn-grey{
        background-color: transparent;
    }
}


@media(max-width: 767px){
    .admin-zayvka{
        flex-direction: column;
    }
    .admin-zayvka-view{
        margin-right: 0;
        margin-bottom: 25px;
    }
    .admin-zayvka__img{
        flex-basis: auto;
        width: 100%;
    }
}